#Menu{
    background: rgb(167, 214, 238);
    border: 1px solid rgb(186, 235, 239);
    color: black;
    border-radius: 5px;
    position: absolute;
    top: 6px;
    left: 10px;
    text-align: center;

}
#Menu :hover{
    color: black;
    background: white;
}

#name{
    background: rgb(166, 203, 233);
    border: 1px solid rgb(168, 241, 168);
    color:black;
    
    position: absolute;
    top: 6px;
    right: 30px;
    text-align: center;
    cursor: pointer;
    

}
#name a{
    text-decoration: none;
    border-radius: 5px;
}
#name :hover{
    color: black;
    background: white;
    

}

#cart{
    background: rgb(161, 193, 238);
    border: 1px solid rgb(169, 230, 169);
    color: black;
    border-radius: 5px;
    position: absolute;
    top: 6px;
    right: 125px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
}
#cart a{
    text-decoration: none;
    border-radius: 5px;
}

#cart :hover{
    color: black;
    background: white;
}

#supermarket{
    background: #00ff04 ;
    border-radius: 5px;
}


/* home page container */
.homepageitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    background-color: rgb(181, 180, 180);
    width: 80%;
    
    justify-items: center;
    place-items: center;
    position: relative;
    left: 10%;
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 10px;

    
    
    

}

.item{
    background-color: white;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    justify-self: center;
    text-align: center;
    cursor: pointer;


}

.item img{
    height: 80%;
    width: 80%;
    border-radius: 10px;
    position: relative;
    top: 5%;
}